In [45]:
## Abhay

In [4]:
import pandas as pd

In [5]:
matches = pd.read_csv('/home/user/Downloads/IPLChatbot/matches.csv')
deliveries = pd.read_csv('/home/user/Downloads/IPLChatbot/deliveries.csv')

In [6]:
#deliveries.head(2)

In [7]:
#matches.head(2)

## Run Scored by Player X in match Y

In [8]:
def runs_scored(match_id, batsman):
    runs_count = deliveries.groupby(['match_id','batsman'])['batsman_runs'].sum()
    return runs_count[match_id][batsman]

In [9]:
runs_scored(1,'BB McCullum')

158

## Highest Run Scorer

In [10]:
def max_score_batsman_match(match_id):
    x = deliveries.groupby(['match_id', 'batsman'])['batsman_runs'].sum()
    name = x[match_id].idxmax()
    runs = x[match_id].max()
    return [name, runs]

In [11]:
max_score_batsman_match(1)

['BB McCullum', 158]

## Number of sixes by Batsman X in match Y

In [9]:
def sixes_count(match_id, batsman):
    sixes = deliveries[deliveries.batsman_runs == 6]
    sixes_count = sixes.groupby(['match_id','batsman']).count()['inning']
    return sixes_count[match_id, batsman]

In [10]:
sixes_count(1,'BB McCullum')

13

## Number of fours by Batsman X in match Y

In [11]:
def fours_count(match_id, batsman):
    fours = deliveries[deliveries.batsman_runs == 4]
    fours_count = fours.groupby(['match_id','batsman']).count()['inning']
    return fours_count[match_id, batsman]

In [12]:
fours_count(1,'BB McCullum')

10

## Total Number of dots by Batsman X in match Y

In [13]:
def dots_count(match_id, batsman):
    dots = deliveries[deliveries.total_runs == 0]
    dots_count = dots.groupby(['match_id','batsman']).count()['inning']
    return dots_count[match_id, batsman]

In [14]:
dots_count(1,'BB McCullum')

17

## Ball faced by Batsman X in match Y

In [15]:
def ball_faced(match_id, batsman):
    balls = deliveries[(deliveries['match_id']==match_id) & (deliveries['batsman']==batsman) & (deliveries.wide_runs == 0)]
    balls_count = balls.count()[0]
    return balls_count

In [16]:
ball_faced(1,'BB McCullum')

73

## Strike Rate of Batsman X in match Y

In [17]:
def strike_rate(match_id, batsman):
    strike_rate = (runs_scored(match_id, batsman)/ball_faced(match_id, batsman))*100
    return strike_rate

In [18]:
strike_rate(1,'BB McCullum')

216.43835616438358

## Total Run by team X in Match Y

In [19]:
def team_score(match_id, batting_team):
    team = deliveries[(deliveries['match_id']==match_id) & (deliveries['batting_team']==batting_team)]
    team_score = team.groupby(['match_id', 'batting_team'])['total_runs'].sum()
    return team_score[0]

In [20]:
team_score(1,'Royal Challengers Bangalore')

82

## i^th Highest Scorer

In [21]:
def highest_scorer(i):
    #player_runs = deliveries.groupby('batsman')['batsman_runs'].sum().sort_values(ascending =False)
    player_name = deliveries.groupby('batsman')['batsman_runs'].sum().sort_values(ascending =False).iloc[i:i+1]
    return  player_name

In [22]:
highest_scorer(2)

batsman
ST Jayasuriya    514
Name: batsman_runs, dtype: int64

### ith highest scorer in jth match

In [43]:
def highest_scorer_ith_match(match_no, highest_scorer_no):
    score = deliveries.groupby(['match_id','batting_team','batsman'])['batsman_runs'].sum().sort_values(ascending =False)
    return score[match_no].iloc[highest_scorer_no:highest_scorer_no+1]

In [44]:
highest_scorer_ith_match(1, 0)

batting_team           batsman
Kolkata Knight Riders  BB McCullum    158
Name: batsman_runs, dtype: int64

## Total Number of fours in Match X by team Y

In [23]:
def team_fours(match_id, batting_team):
    team_fours = deliveries[deliveries.batsman_runs == 4]
    team_fours_count = team_fours.groupby(['match_id','batting_team']).count()['inning']
    return team_fours_count[match_id][batting_team]

In [24]:
team_fours(1,'Kolkata Knight Riders')

15

## Total Number of sixes in Match X by team Y

In [25]:
def team_sixes(match_id, batting_team):
    team_sixes = deliveries[deliveries.batsman_runs == 6]
    team_sixes_count = team_sixes.groupby(['match_id','batting_team']).count()['inning']
    return team_sixes_count[match_id][batting_team]

In [26]:
team_sixes(1,'Kolkata Knight Riders')

14

## Total Score by Batsman X Overall

In [46]:
def total_runs_scored():
    runs_count = deliveries.groupby('batsman')['batsman_runs'].sum()
    return runs_count
total_runs_scored()

batsman
A Chopra            42
A Kumble            13
A Mishra            37
A Mukund             0
A Nehra              3
A Symonds          161
AA Noffke            9
AB Agarkar          54
AB Dinda             2
AB de Villiers      95
AC Gilchrist       436
AD Mascarenhas       9
AM Nayar           206
AM Rahane            4
AS Yadav            49
Abdur Razzak         0
B Akhil             46
B Chipli            20
B Lee               17
BB McCullum        188
BJ Hodge            12
CK Kapugedera       16
CL White           114
CRD Fernando         2
D Kalyankrishna      3
D Salunkhe          33
DB Das             103
DB Ravi Teja       109
DJ Bravo           178
DJ Hussey          319
                  ...
SR Watson          472
SS Tiwary           26
ST Jayasuriya      514
Salman Butt        193
Shahid Afridi       81
Shoaib Akhtar        2
Shoaib Malik        52
Sohail Tanvir       36
T Kohli             10
T Taibu             31
TM Dilshan         104
TM Srivastava        8
U Kaul               0
Umar Gul            39
V Kohli            165
V Sehwag           406
VRV Singh            4
VS Yeligati          2
VVS Laxman         155
VY Mahesh           15
W Jaffer           115
WA Mota             26
WP Saha            159
WPUJC Vaas          21
Y Venugopal Rao    288
YK Pathan          435
YV Takawale         70
Younis Khan          3
Yuvraj Singh       299
Z Khan              34
Name: batsman_runs, dtype: int64

## Total Balls faced by Batsman Overall

In [28]:
def total_ball_faced():
    balls = deliveries[(deliveries.wide_runs == 0)].groupby('batsman')['inning']
    balls_count = balls.count()
    return balls_count

In [29]:
#total_ball_faced()

## Highest Strike Rate of Batsman Overall

In [30]:
def total_strike_rate(i):
    strike_rate = (total_runs_scored()/total_ball_faced())*100
    return strike_rate.sort_values(ascending = False).iloc[i:i+1]

In [31]:
total_strike_rate(0)

batsman
Umar Gul    205.263158
dtype: float64

## Most ball played

In [32]:
total_ball_faced().sort_values(ascending = False).iloc[0:1]

batsman
SE Marsh    441
Name: inning, dtype: int64

## Overall Sixes by player X

In [33]:
def overall_sixes_count(batsman):
    sixes = deliveries[deliveries.batsman_runs == 6]
    sixes_count = sixes.groupby('batsman').count()['inning']
    return sixes_count[batsman]

In [34]:
overall_sixes_count('BB McCullum')

15

## Overall fours by player X

In [35]:
def overall_fours_count(batsman):
    fours = deliveries[deliveries.batsman_runs == 4]
    fours_count = fours.groupby('batsman').count()['inning']
    return fours_count[batsman]

In [36]:
overall_fours_count('BB McCullum')

13

## Most fours counts

In [37]:
def most_fours_count(i):
    fours = deliveries[deliveries.batsman_runs == 4]
    fours_count = fours.groupby('batsman').count()['inning']
    return fours_count.sort_values(ascending = False).iloc[i:i+1]

In [43]:
for index_val, series_val in most_fours_count(0).iteritems():
        print(index_val, series_val)

G Gambhir 68

## Most Sixes Count

In [39]:
def most_sixes_count():
    sixes = deliveries[deliveries.batsman_runs == 6]
    sixes_count = sixes.groupby('batsman').count()['inning'].sort_values(ascending = False).iloc[0:1]
    return sixes_count

In [40]:
for index_val, series_val in most_sixes_count().iteritems():
        print(index_val, series_val)

ST Jayasuriya 31

## Highest run scored by batsman in an inning

In [41]:
deliveries.groupby('batsman')['batsman_runs'].sum().sort_values(ascending = False).head()

batsman
SE Marsh         616
G Gambhir        534
ST Jayasuriya    514
SR Watson        472
GC Smith         441
Name: batsman_runs, dtype: int64